<div class="container">

    <div class="col-12 mt-4">
        <h1>{{title}}</h1>
    
        <hr>
        <div class="alert alert-success" role="alert" *ngIf="status == 'success'">
            User create successfully... <a [routerLink]="['/login']"> Go to login!</a>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="status == 'error'">
            {{msg}}!
        </div>
    
        <form class="col-md-5 ml-0 pl-0" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="form-group">
                <label for="labelname" class="form-label">Name</label>
                <input type="text" #name="ngModel" [(ngModel)]="user.name" name="name" class="form-control" id="labelname"
                    aria-describedby="name" required>
                <div id="name" class="form-text">We'll never share your info with anyone else.</div>
    
                <span *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                    El Apelllido no es valido.
                </span>
    
            </div>
    
            <div class="form-group">
                <label for="labellastname" class="form-label">Last Name</label>
                <input type="text" #surname="ngModel" [(ngModel)]="user.surname" name="surname" class="form-control"
                    id="labellastname" required>
    
                <span *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                    El Apelllido no es valido.
                </span>
            </div>
    
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
                    #email="ngModel" [(ngModel)]="user.email" required pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$">
    
                <span *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                    El email no es valido.
                </span>
            </div>
    
            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" #password="ngModel"
                    [(ngModel)]="user.password" required>
    
                <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                    Password no puede estar vacia!
                </small>
            </div>
    
            <input type="submit" value="{{title}}" class="btn btn-success mt-4" [disabled]="registerForm.invalid">
        </form>
    </div>



</div>


