label {

    margin-bottom: 8px;
}




.col-md-4{
    width: 940px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
    background-color: lightgray;
    border-radius: 5px;
   
}

.col-md-4 div{

    display: inline-block;
    width: 60%;
    vertical-align: top;
  
   

}

.aling-btn{
    display: block;
    text-align: center;
    padding: 15px 0;
 
}

/* 
button{
    display: block;
   
    position: relative;
    left: 360px;
    top: 20px
} */




