/* You can add global styles to this file, and also import other style files */

nav {
    font-family:'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.nav-options-bg:hover{
  background-color: rgb(32, 32, 194);
  border-radius: 900px;
}

li .nav-options:hover{
    color: rgb(237, 214, 10);
}

.setting:hover {
    
   background-color: aliceblue;
   border-radius: 900px;

}
li:hover .title{
    color:red
}
.pointer{
    cursor:pointer;
}

